.Auth {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 4rem;
  position: relative;
}

.Auth > div {
  display: flex;
  align-items: center;
  justify-content: center;
}



/* left side */
.a-left{
    /* gap: 2rem; */
}

.a-left > img {
  width: 4rem;
  height: 4rem;
}

.Webname > h1 {
    font-size: 3rem;
    color: black !important;
    margin-left: -100px;
}

.Webname>h6{
  color: red;
  font-size: 1.5rem !important;
  font-family: "Rouge Script", Tofu;
  font-weight: bold;
  margin-left: -50px;
}

/* right side */

.authForm{
    background-color: var(--cardColor);
    border-radius: 1rem;
    padding: 1rem;
}

.authForm>div{
    width: 100%;
    align-items: center;
    justify-content: center;
}

.floating-image {
  position: relative;
  animation-name: float;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.floating-image img {
  margin-bottom: -100px;
  height: 550px;
  max-width: 100%;
  position: relative;
  z-index: 2;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0px);
  }
}