.Auth {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 1.5rem;
  /* position: relative; */
}

.Auth > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* left side */

.brand-logo1{
  font-size: 3.5rem !important;
  color: black !important;
  margin-left: -30px;
}

.loginDesc {
  color: red;
  font-size: 2rem !important;
  font-family: "Rouge Script", Tofu;
  font-weight: bold;
  margin-left: -30px;
}

/* right side */

.authForm{
    background-color: var(--cardColor);
    border-radius: 1rem;
    padding: 1rem;
}

.authForm>div{
    width: 100%;
    align-items: center;
    justify-content: center;
}

.floating-image {
  position: relative;
  animation-name: float;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.floating-image img {
  margin-bottom: -130px;
  height: 500px;
  /* max-width: 100%; */
  position: relative;
  z-index: 2;
  margin-left: -150px;
  
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0px);
  }
}