.TrendCard{
    display: flex;
    flex-direction: column;
    background-color: var(--cardColor);
    border-radius: 1rem;
}

.trend{
    display: flex;
    flex-direction: column;
}

.sidebarListItem {
    display: flex;
    align-items: center;
    width: 97%;
    height: 45px;
    margin-left: -30px;
    padding-left: 30px;
    
}

.sidebarIcon {
    margin-right: 20px;
}

ul li:hover {
    background-color: #eee;
    cursor: pointer;
    border-radius: 0.5rem;
}

ul li a {
    text-decoration: none !important;
}

.sidebarListItem.active {
    background-color: #eee;
    border-radius: 0.5rem;
}