.Academiccal {
    position: relative;
    display: grid;
    grid-template-columns: 18rem auto 20rem;
    gap: 1rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    
    
}

th {
    background-color: #36304a;
    color: #fff;
    font-weight: 700;
    padding: 12px;
    text-align: left;
    font-size: 16px;
    
}

th:first-child {
    border-top-left-radius: 5px;
}

th:last-child {
    border-top-right-radius: 5px;
}

td {
    padding: 12px;
    text-align: left;
    font-size: 14px;
    border-bottom: 1px solid #ccc;
}

td:last-child {
    border-right: none;
}

tr:hover {
    background-color: #f5f5f5;
}

/* Responsive styles */
@media screen and (max-width: 767px) {
    table {
        font-size: 12px;
    }

    th,
    td {
        padding: 8px;
    }

    th:first-child,
    td:first-child {
        padding-left: 16px;
    }

    th:last-child,
    td:last-child {
        padding-right: 16px;
    }
}
